* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

/*        */
/*  NAV   */
/*        */

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

li:first-child a {
    border: none;
}

li:last-child a {
    display: inline-block;
    border: none;
    padding: 0;
    margin: 0;
    width: 20vw;
    background-color: limegreen;
}

img {
    border-radius: 50%;
    height: 60px;
    margin-bottom: 0px;
}

a {
    text-decoration: none;
    padding: 0px 0px 10px;
    border: none;
    background: none;
    color:darkgreen;
    font-weight: bold;
}

a:hover {
    color:limegreen;
    border-bottom: solid 4px limegreen;
}


/*          */
/*  HEADER  */
/*          */

header {
    display: flex;
    justify-content: space-between;
}

text {
    font-size: 120px;
    text-transform: uppercase;
    fill: grey;
    font-weight: bolder;
    opacity: 0.1;
    margin-bottom: -25px;
    padding: none;
}

p.title-1 {
    font-size: 20px;
    text-transform: uppercase;
    color:limegreen;
    font-weight: bold;
    margin-top: -40px;
}

h1 {
    font-size: 50px;
    color:darkblue;
    width: 400px;
}

header p {
    color:dimgray;
    width: 400px;
}

header button {
    font-size: 20px;
    text-transform: uppercase;
    color:limegreen;
    font-weight: bold;
    background: white;
    border: limegreen 2px solid;
    border-radius: 20px;
    padding: 5px 30px;
}

header img {
    border-radius: 150px;
    width: auto;
    height: 300px;
    /* outline: 1px solid white; */
    outline-offset: 50px;
    margin-left: -150px;
}

div.side-img {
    width: 20vw;
    background-color: limegreen;
}

/*  */
/* SECTION-SHOP */
/*  */

section#shop {
    background-image:url(./background-1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

section#shop p {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    color: white;
    font-family: Arial;
}

section#shop p.desc {
    text-transform: uppercase;
    font-size: 10px;
}

h2 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: white;
    font-family: Arial;
}

/*  */
/* SECTION-ABOUT-US */
/*  */

section#about-us {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

section#about-us img {
    border-radius: 0;
    height: 500px;
    width: 600px;
    margin: 0;
}

section#about-us div {
    margin: 80px;
}

section#about-us p.title-2 {
    font-size: 20px;
    text-transform: uppercase;
    color:limegreen;
    font-weight: bold;
    margin: 10px 0;
}

section#about-us h2 {
    text-transform: none;
    font-weight: bold;
    text-align: start;
    color: darkblue;
    font-family: Arial;
    font-size: 40px;
    margin: 10px 0;
}

section#about-us p {
    color: dimgray;
    margin: 10px 0;
}

section#about-us p.desc {
    margin-bottom: 20px;
}

section#about-us ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: url(./iconmonstr-cook-4.jpg);
    margin-left: 30px;
}
 
section#about-us li {
    font-size: 24px;
    font-weight: bold;
}

